* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e7a71b;
}

.layout {
  display: flex;
  min-height: 100vh;
}

aside {
  width: 220px;
  background: #222;
  color: white;
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  margin-bottom: 15px;
}

aside a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  min-width: 200px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.pedidos-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.pedidos-table th,
.pedidos-table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.estado {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.estado-Pendiente {
  background: #ffe078;
}

.estado-Fabricacion {
  background: #a4c9ff;
}

.estado-Listo {
  background: #b6ffde;
}

.estado-Entregado {
  background: #e2e3e5;
}